{% extends "layout.html" %}
{% block title %}
Influencer Dashboard
{% endblock %}

{% block style %}
<style>
    .dashboard-summary {
        margin-top: 20px;
    }
    .dashboard-actions {
        margin-top: 20px;
    }
    .action-buttons {
        display: flex;
        gap: 10px;
    }
</style>
{% endblock %}

{% block content %}
<div class="dashboard-summary">
    <img src="https://api.dicebear.com/9.x/avataaars/svg?seed={{user.Username}}" alt="avatar" width="100"/>
    <h2>Welcome, {{ user.Name }}</h2>
    {% if campaigns %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th>Budget</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for campaign in campaigns %}
            <tr>
                <td>{{ campaign.Name }}</td>
                <td>{{ campaign.Description }}</td>
                <td>{{ campaign.StartDate }}</td>
                <td>{{ campaign.EndDate }}</td>
                <td>
                    {% if campaign.Status %}
                        Active
                    {% else %}
                        Completed
                    {% endif %}
                </td>
                <td>₹{{ campaign.Budget }}</td>
                <td>
                    {% if campaign.Status == false %}
                    <div class="action-buttons">
                        <form method="POST" action="{{ url_for('accept_campaign', campaign_id=campaign.id) }}">
                            <button type="submit" class="btn btn-success">Accept</button>
                        </form>
                        <form method="POST" action="{{ url_for('reject_campaign', campaign_id=campaign.id) }}">
                            <button type="submit" class="btn btn-danger">Reject</button>
                        </form>
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No campaigns assigned to you yet.</p>
    {% endif %}
{% endblock %}
