<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('househelp')}}">HouseHelp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if 'user_id' in session %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('index')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('profile')}}">Profile</a>
                </li>
                
                {% if session.get('role') == 'admin' %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('admin_dashboard')}}">Admin Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('updateAdminInfo')}}">Update Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Manage Users</a>
                </li>
                {% endif %}
                
                {% if session.get('role') == 'professional' %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('professional_dashboard')}}">Professional Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('updateProfessionalInfo')}}">Update Information</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Manage Service Requests
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#}">View Service request</a></li>
                        <li><a class="dropdown-item" href="#">Working Service Requests</a></li>
                    </ul>
                </li> 
                {% endif %}
                
                {% if session.get('role') == 'customer' %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('customer_dashboard') }}">Customer Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('updateCustomerInfo') }}">Update Information</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Manage Requests
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('add_service_request') }}">Create New Service Request</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('view_service_requests') }}">View Service Requests</a></li>
                    </ul>
                </li>
                {% endif %}
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Inbox</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Notifications</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('login')}}">Login</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Register
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{url_for('registerAsProfessional')}}">Register As Professional</a></li>
                        <li><a class="dropdown-item" href="{{url_for('registerAsCustomer')}}">Register As Customer</a></li>
                    </ul>
                </li>  
                {% endif %}
                
            </ul>
            <!-- This div pushes the Logout link to the right -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
